$prefix: "radar-";

.#{$prefix}chart {
  font-family: Helvetica, Arial, sans-serif;
  padding: 80px; // IMPORTANT: modifiez cette valeur pour rendre les labels plus lisibles.

  .#{$prefix}labels-wrapper {
    .#{$prefix}legenda {
      position: absolute;
      font-size: 12px;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      width: 75px;
      text-align: center;
      font-weight: bold;

      a {
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .#{$prefix}value-dot,
    .#{$prefix}legenda-dot {
      display: block;
      position: absolute;
      border-radius: 50%;
      transition-duration: 0.4s;
      opacity: 0.8;
      backface-visibility: hidden;
      width: 24px;
      height: 24px;
      text-transform: uppercase;
      border: 2px solid #FFF;
      color: #FFF;
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }

      .#{$prefix}value {
        display: block;
        width: 24px;
        line-height: 24px;
        text-align: center;
        font-weight: bold;
        font-size: 12px;
      }

      &.#{$prefix}active {
        transform: translate(-50%, -50%) scale(1, 1);
        .#{$prefix}value {
          opacity: 1 !important;
        }
      }
    }

    .#{$prefix}value-dot {
      transform: translate(-50%, -50%) scale(0, 0);
    }
    .#{$prefix}legenda-dot {
      transform: translate(-50%, -50%) scale(0.5, 0.5);
    }
  }

  .#{$prefix}svg {
    overflow: visible;

    .#{$prefix}line {
      stroke: #ccc;
      stroke-width: 0.5px;
      fill: rgba(0, 0, 0, 0);
    }

    .#{$prefix}polygon {
      stroke-width: 2px;
      fill-opacity: 0;
      opacity: 0.75;
    }

  }

}